@font-face {
    font-family: "Montserrat";
    src: url("assets/fonts/montserrat-medium.ttf");
}

@font-face {
    font-family: "Montserrat";
    src: url("assets/fonts/montserrat-extrabold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "Montserrat";
    src: url("assets/fonts/montserrat-extrabold.ttf");
    font-weight: 800;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    background: #000;
    color: #a1a1a1;
    line-height: 1.6;
    margin: auto
}

.main-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.8rem;
    position: relative;
}

.main-header__brand {
    padding: 0.5rem 0;
}

.main-header__brand a {
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
}

.toggle-menu {
    background: transparent;
    border: none;
    color: #fff;
    padding: 0.5rem 0;
}

.main-nav {
    display: none;
    flex-basis: 100%;
    flex-grow: 1;
    padding: 0.5rem 0;
}

.main-nav__items {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    padding-bottom: 2rem;
    margin: 0;
}

.main-nav__item {
    padding-bottom: 2rem;
    font-size: 1rem;
}

.main-nav__item > a {
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    padding: 0.2rem 0;
}

.main-nav__item > a:hover, .main-nav__item > a:focus {
    border-bottom: 2px solid #ffbd39;
    outline: none;
}

.main-nav__item > a:active {
    border-bottom: 2px solid #ffbd39;
    color: #ffbd39;
}

.sticky {
    position: fixed;
    z-index: 2;
    background: #000;
    width: 100%;
    left: 0;
    top: 0;
}

.sticky + main {
    padding-top: 64px;
}

.open {
    display: block !important;
}

#home {
    width: 100%;
    height: calc(100vh - 64px);
    position: relative;
}

.home-background {
    background: url("./assets/images/home_section.jpg") center/cover no-repeat border-box #000;
    position: absolute;
    z-index: -1;
    filter: opacity(45%);
    width: 100%;
    height: 100%;
}

.home-content {
    position: absolute;
    bottom: 0;
    padding: 1rem;
    text-align: center;
    width: 100%;
    color: #fff;
}

.home-content__subtitle {
    text-transform: uppercase;
    color: #ffbd39;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
}

.home-content__title {
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 1.2;
}

.home-content__title span {
    color: #ffbd39;
}

.home-content__description {
    font-size: 1.6rem;
    font-weight: 400;
}

#about, #resume, #services, #skills, #contact {
    padding-top: 8rem;
    max-width: 1200px;
    margin: auto;
}

.about-background {
    display: none;
}

.about-content__heading {
    margin: 1.6rem auto;
}

.heading {
    color: #fff;
    font-size: 2.4rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 4rem;
}

.points {
    margin: 0;
    padding: 0.5rem 1rem;
    list-style: none;
}

.point {
    display: flex;
    justify-content: left;
    margin-bottom: 1.2rem;
}

.point > span {
    width: 60%;
    word-break: break-word;
}

.point > span:first-child {
    font-weight: 600;
    color: #fff;
    width: 40%
}

.download-section {
    margin: 2rem auto;
    text-align: center;
}

.button {
    background: #ffbd39;
    font: inherit;
    font-size: 0.7rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: 1px solid #ffbd39;
    padding: 1.5rem 3rem;
    border-radius: 40px;
    font-weight: 500;
    cursor: pointer;
}

.list {
    padding: 0 1rem; 
}

.block {
    padding: 2rem;
    margin-bottom: 2rem;
    background: rgba(255, 255, 255, 0.1);
}

.resume-date {
    color: #ffbd39;
    font-weight: 900;
    font-size: 1.5rem
}

.resume-title {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
}

.resume-position {
    font-size: 0.8rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.service {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    text-align: center;
}

.icon {
    width: 2rem;
    height:2rem;
    border-radius: 50%;
    padding: 2rem;
    background: white;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
}

.service-title {
    color: #fff;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 1.3;
    letter-spacing: 3px;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 3rem;
}

.service-title::after {
    content: "";
    position: absolute;
    background: #ffbd39;
    height: 1px;
    width: 35px;
    left: 0;
    right: 0;
    top: 30px;
    margin: 0 auto;
}

.skill {
    padding: 0 1rem;
    margin-bottom: 2rem;
}

.skill-title {
    font-size: 1.2rem;
    margin: 0;
    margin-bottom: 0.8rem;
    font-weight: 500;
    color: #fff;
}

.progress {
    width: 100%;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.3);
}

.progress-bar {
    width: 80%;
    height: 0.7rem;
    border-radius: 4px;
    background: #ffbd39;
    position: relative;
}

.progress-bar::after {
    content: "80%";
    position: absolute;
    top: -38px;
    right: -45px;
}

.contact h3 {
    margin: 0;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.contact p {
    text-align: center;
    margin: 0;
    margin-bottom: 1rem;
    word-break: break-word;
}

.main-footer {
    padding-bottom: 4rem;
}

.footer-content {
    font-size: 1rem;
    padding: 2rem 1rem;
    text-align: center;
}

/** Tablets Screens */
@media (min-width: 641px) {
    .home-background {
        background-position-y: 60%;
    }

    .home-content__subtitle {
        font-size: 1rem;
    }

    .home-content__title {
        font-size: 3.1rem;
    }
    
    .about-background {
        background: url("assets/images/about_section.jpg") center/cover no-repeat border-box;
        height: 100vh;
        max-height: 520px;
        width: 40%;
        display: inline-block;
        vertical-align: bottom;
    }

    .about-content {
        width: 59%;
        display: inline-block;
        vertical-align: middle;
    }

    .heading {
        font-size: 3.1rem;
    }

    .list {
        padding: 0 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .block-2 {
        margin-bottom: 4%;
        flex: 0 0 46%;
        max-width: 50%;
    }

    .block-3 {
        margin: 0;
        flex: 0 0 30%;
        max-width: 30%;
    }
}

/** Laptops and Large Screens */
@media (min-width: 769px) {
    .toggle-menu {
        display: none;
    }

    .main-nav {
        display: flex;
        flex: 0 1 auto;
    }

    .main-nav__items {
        flex-direction: row;
        padding-bottom: 0;
    }

    .main-nav__item {
        padding: 0.7rem 1.5rem;
    }

    .home-content {
        top: 35%;
        padding: 1rem;
        text-align: left;
    }

    .home-content__title {
        font-size: 4rem;
        margin: 1rem 0;
    }

    .home-content__description {
        font-size: 2.5rem;
        font-weight: 400;
        margin: 0;     
    }

    .contact {
        flex-basis: auto;
    }

}